:root .themeAdwaitaDark {
    background-color: var(--vtc-background-color);
    --exif-color: rgb(255, 255, 173);
    --selected-exif-color: yellow;

    --vtc-color: white;
    --vtc-item-img-color: white;
    --vtc-background-color: #2f2f2f;
    --vtc-caption-color: #dddddd;
    --vtc-caption-background-color: #353535;
    --vtc-caption-background-hover-color: #464646;
    --vtc-caption-separator-color: #737373;
    --vtc-selected-background-color: #3584e4;

    --vtc-scrollbar-button-display: none;
    --vtc-scrollbar-width: 12px;
    --vtc-scrollbar-background-color: transparent;
    --vtc-scrollbar-border-width: 0px;
    --vtc-scrollbar-grip-width: 4px;
    --vtc-scrollbar-grip-active-color: var(--vtc-selected-background-color);
    --vtc-scrollbar-grip-radius: 999px;
    --vtc-scrollbar-grip-right: 1px;
    --vtc-scrollbar-right-margin: 6px;

    --gridsplitter-grip-color : #262626;
    --gridsplitter-grip-hover-color : #383838;
    --gridsplitter-grip-active-color : #585858;

    --dbc-main-color: white;
    --dbc-main-background-color: #353535;
    --dbc-button-background-color: #353535;
    --dbc-button-color: white;
    --dbc-button-hover-background-color: #4b4b4b;
    --dbc-button-active-background-color: #242424;   
    --dbc-button-margin: 20px 0px 0px 0px;
    --dbc-button-flexgrow: 1;
    --dbc-button-marginleft: 0px;
    --dbc-button-focus-color: rgb(126, 126, 126);    
    --dbc-button-cornerradius: 0px;
    --dbc-button-bordercolor: black;
    --dbc-button-borderstyle: solid;
    --dbc-button-borderwidth: 1px 0px 1px 1px;
    --dbc-button-first-borderwidth: 0px;
    --dbc-button-buttomradius: 5px;
    --dbc-button-padding: 10px 15px;
    --dbc-button-outlinestyle: dotted;
    --dbc-button-outlineoffset: -2px;
    --dbc-input-selection-color: #3584e4;
}

