body {
	/* font-family: arial; */
  	margin: 0;
  	/* -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale; */
	padding: 0px;
	overflow: hidden;
	height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(32, 32, 32);
    } 
}

#viewerContainer {
    height: 100vh;
}

.hidden {
    display: none;
}

.bothViewer {
    display: flex
}

.bothViewer>div {
    flex-grow: 1;
}

#viewerDiv {
    position: relative;
    height: 100vh;
}