#trackContainer {
    flex-grow: 1;
}

#trackView {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.trackSlider {
    background: "transparent";
    width: 70vw;
    display: flex;
    opacity: 0.3;
    transition: opacity 0.4s;
}

.trackSlider input {
    flex-grow: 1;
}

.trackSlider:hover {
    opacity: 1;
}

.trackStatistics {
    background: rgba(255, 255, 255, 0.7);
    padding: 5px;
}
.trackStatistics table {
    width: 100%;
    border: 0px solid;
}

.trackStatistics th, .trackStatistics td {
    border: 0px solid;
}
