.dialog {
    display: flex;
    flex-direction: column;
}

.dialog input[type='text'], .dialog input[type='password'] {
    width: 100%;
}

.dialog input {
    margin-bottom: 5px;
    background-color: var(--wdr-main-background-color);
    color: var(--wdr-main-color);
    border-color: gray;
    border-style: solid;
    border-width: 1px;    
}

.dialog input:focus {
    outline-color: var(--wdr-input-selection-color);
    border-color: transparent;
    outline-width: 1px;
    outline-style: solid;
}

