:root .themeAdwaita {
    --exif-color: darkblue;
    --selected-exif-color: yellow;

    --vtc-top: 20px;
    
    --vtc-background-color: #fcfcfc;
    --vtc-caption-color: #737373;
    --vtc-caption-background-color: #eff0f1;
    --vtc-caption-background-hover-color: #e2e2e2;
    --vtc-caption-separator-color: #737373;
    --vtc-selected-background-color: #3584e4;

    --vtc-scrollbar-button-display: none;
    --vtc-scrollbar-width: 12px;
    --vtc-scrollbar-background-color: transparent;
    --vtc-scrollbar-border-width: 0px;
    --vtc-scrollbar-grip-width: 4px;
    --vtc-scrollbar-grip-active-color: var(--vtc-selected-background-color);
    --vtc-scrollbar-grip-radius: 999px;
    --vtc-scrollbar-grip-right: 1px;
    --vtc-scrollbar-right-margin: 6px;

    --gridsplitter-grip-color : #dedbd8;
    --gridsplitter-grip-hover-color : #bbb8b5;
    --gridsplitter-grip-active-color : #8f8d8b;

    --dbc-main-background-color: #f6f5f4;
    --dbc-button-background-color: #f6f5f4;
    --dbc-button-color: black;
    --dbc-button-hover-background-color: white;
    --dbc-button-active-background-color: #d6d1cd;   
    --dbc-button-margin: 20px 0px 0px 0px;
    --dbc-button-flexgrow: 1;
    --dbc-button-marginleft: 0px;
    --dbc-button-focus-color: rgb(126, 126, 126);    
    --dbc-button-cornerradius: 0px;
    --dbc-button-bordercolor: lightgray;
    --dbc-button-borderstyle: solid;
    --dbc-button-borderwidth: 1px 0px 1px 1px;
    --dbc-button-first-borderwidth: 0px;
    --dbc-button-buttomradius: 5px;
    --dbc-button-padding: 10px 15px;
    --dbc-button-outlinestyle: dotted;
    --dbc-button-outlineoffset: -2px;
    --dbc-input-selection-color: #3584e4;    
}

