:root .themeWindows {
    --exif-color: darkblue;
    --selected-exif-color: yellow;
    
    --vtc-scrollbar-button-display: none;
    --vtc-scrollbar-width: 12px;
    --vtc-scrollbar-background-color: transparent;
    --vtc-scrollbar-border-width: 0px;
    --vtc-scrollbar-grip-width: 4px;
    --vtc-scrollbar-grip-active-color: var(--vtc-selected-background-color);
    --vtc-scrollbar-grip-radius: 999px;
    --vtc-scrollbar-grip-right: 1px;
    --vtc-scrollbar-right-margin: 6px;

    --gridsplitter-grip-color : #dedbd8;
    --gridsplitter-grip-hover-color : #bbb8b5;
    --gridsplitter-grip-active-color : #8f8d8b;    
}

body.themeWindows {
    font-family: 'arial';
    font-size: 75%;
}



