.bothViewer {
    display: flex
}

.bothViewer>div {
    flex-grow: 1;
    width: 50%;
}

.locationView {
    position: relative;
}

.location {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}