body {
	/* font-family: arial; */
  	margin: 0;
  	/* -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale; */
	padding: 0px;
	overflow: hidden;
	height: 100vh;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(32, 32, 32);
    } 
}