body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#splitter {
    flex-grow: 1;
}

.tableContainer {
    flex-grow: 1;
    position: relative;
}

.folder {
    width: 100%;
    height: 100%;
}

.pathInput {
    position: absolute;
    margin-left: 3px;
    margin-right: 3px;
    border-style: none;
    width: calc(100% - 6px);
    outline-style: none;
    font-family: sans-serif;
    background-color: var(--vtc-background-color);
    color: var(--vtc-color);
}

#viewer {
    position: relative;
    width: 100%;
    height: 100%;
}

#viewerImg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}