.image {
    width: 16px;
    height: 16px;
    vertical-align: bottom;
    margin-right: 3px;
}

.svgImagePath {
    fill: var(--svg-image-path-color);
}
.isSelected .svgImagePath {
    fill: var(--vtr-selected-color);
}